body {
    font-family: Arial, sans-serif;
    
    background-image: url("../assets/images/yos.jpg");
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#goback button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#goback button:hover {
    background-color: #0056b3;
}

.admin-details-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 40px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.edit-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #f69314;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b86f0f;
}